* {
    font-family: Verdana, sans-serif;
    background-color: #defffc;
}

h1, h2 {
    color: #FF3366;
    text-align: center;
}

p {
    color: #011627;
}

img {
    display: block;
    margin: 0 auto;
}